.line-through {
  text-decoration: line-through;
}

ul {
  list-style: none;
}

.container-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.buttons {
  display: flex;
  gap: 10px;
}

.checkbox-item {
  margin-right: 10px;
}
